# Environnements
/venv
/env

# Python cache
__pycache__/

# DVC données
/data/**/*.csv
/models/*.pkl

# Système
.DS_Store
*.log
data/processed_data/X_train_scaled.csv
data/processed_data/X_test_scaled.csv
models/scaler.pkl
